{% extends 'base.html' %}

{% block head %}

<title> CATIFS via ICOTS </title>

{% endblock %}

{% block body %}
<div class="content">
    <h1>Performance Monitor</h1>
    <table>
        <tr>
            <th>Device</th>
            <th>ID</th>
            <th>IP</th>
            <th>CPU</th>
            <th>MEMORY</th>
        </tr>
        {% for node in nodes %}
        <tr>
            <td>{{ node.device }}</td>
            <td>{{ node.id}}</td>
            <td>{{ node.ip}}</td>
            <td>{{ node.cpu_flag}}</td>
            <td>{{ node.memory_flag}}</td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}